@color_main: #ff9a17;
@color_main_transparent: rgba(255, 154, 23, 0.41);
@color_main_transparent_super: rgba(255, 154, 23, 0.15);
@color_main_light: rgb(255, 205, 146);
@color_main_superlight: rgb(255, 233, 215);
@color_main_dark: #9c5b13;
@color_light: #fff;
@color_dark: #000;
@color_dark_transparent: rgba(50,50,50,0.7);
@color_dark_grey: #777;
@color_dark_light: #eee;
@color_error: #f00;
h1,h2,h3,h4,h5,h6,div,a,p,span,label,input,button{
  color: @color_main_dark;
}
.element-default{
  margin:3px;
  padding:0 15px;
  background: @color_main_superlight;
  color: @color_main_dark;
  transition: background 0.3s;
  &:hover {
    background: @color_main_light;
  }
};
.element-transparent {
  .element-default;
  background: transparent;
  &:hover {
    background: @color_main_transparent;
  }
};
.button-default{
  .element-default;
  cursor:pointer;
  border:1px solid @color_main_dark;
  border-radius: 3px;
};
.button-danger{
  .button-default;
  color: @color_error;
};
.font{
  font-size: 25px;
};
.font-small{
  font-size:15px;
};
.font-large{
  font-size:35px;
};
.font-Xlarge{
  font-size:60px;
};
.paragraph-info{
  h1,h2,h3,h4,h5,h6{
    color: @color_main_dark;
    background: @color_main_light;
    margin:0;
    padding: 3px 5px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
  }
  p{
    .font-small;
    margin:0;
    padding: 5px;
    background: @color_main_superlight;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  color: @color_dark;
  box-shadow: 5px 5px 10px @color_dark_grey;
  border-radius: 3px;
};
.paragraph-warning{
  .paragraph-info;
  h1,h2,h3,h4,h5,h6{
    color: @color_light;
    background: @color_main_dark;
    border-bottom:1px solid @color_light;
  }
};
.paragraph-error{
  .paragraph-info;
  h1,h2,h3,h4,h5,h6{
    color: @color_light;
    background: @color_error;
    border-bottom:1px solid @color_light;
  }
};
.flex-row{
  display: flex;
  align-items: center;
};
.list {
  .active {
    background: @color_main_transparent_super;
    background: linear-gradient(@color_main_transparent_super 50%, transparent);
  };
  li {
    .element-transparent;
    margin: 0;
    padding: 0;
    min-width: 100px;
    a{
      .flex-row;
      color: @color_main_dark;
      span:nth-child(1) {
        .font-small;
        padding: 0 5px;
      }
    }
    &:hover {
      a {
        color: @color_light!important;
      }
      background: @color_main_light;
      background: linear-gradient(@color_main_light 50%, transparent);
    }
  }
};
.modal-block {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background: @color_dark_transparent;
};
.scroll-hide {
  &::-webkit-scrollbar {
    display: none;
  }
};
.slide-container{
  display: block;
  position: relative;
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
};