<div class="start-slide">
    <!-- <img src="{{bckg}}"/> -->
    <div class="cysh-paragraph-transparent">
        <h1></h1>
        <p></p>
    </div>
</div>
<div class="cysh-container-dark-gradient">
    <div class="cysh-flex-blocks-central">
        <div class="cysh-card-light cysh-active-rotate">
            <div class="cysh-paragraph-info">
                <h1>Test Header</h1>
                <p>Test paragraph with somw information. Test paragraph with somw information.Test paragraph with somw information.</p>
            </div>
        </div>
        <div class="cysh-card-light cysh-active-rotate">
            <div class="cysh-paragraph-contrast">
                <h1>Test Header</h1>
                <p>Test paragraph with somw information. Test paragraph with somw information.Test paragraph with somw information.</p>
            </div>
        </div>
        <div class="cysh-card-light">
            <div class="cysh-paragraph-error">
                <h1>Test Заголовок</h1>
                <p>Test paragraph with somw information. Test paragraph with somw information.Test paragraph with somw information.</p>
            </div>
        </div>
    </div>
</div>
<div class="cysh-container">
    <div class="cysh-flex-blocks-central">
        <div class="cysh-card-light cysh-active-rotate">
            <div class="cysh-paragraph-info">
                <h1>Test Header</h1>
                <p>Test paragraph with somw information. Test paragraph with somw information.Test paragraph with somw information.</p>
            </div>
        </div>
        <div class="cysh-card-light cysh-active-rotate">
            <div class="cysh-paragraph-contrast">
                <h1>Test Header</h1>
                <p>Test paragraph with somw information. Test paragraph with somw information.Test paragraph with somw information.</p>
            </div>
        </div>
    </div>
</div>
<button class="cysh-button-default">Test</button>
<button class="cysh-button-danger">Test Button</button>
<a [routerLink]="['./room']" class="cysh-button-default">Room</a>
<div class="cysh-btn-3d">
    <div>
        <div class="b4"></div>
        <div class="b1">
            <p>MENU</p>
        </div>
        <div class="b2">
            <p>MENU</p>
        </div>
        <div class="b3">
            <span></span>
            <span></span>
            <span></span>
        </div>

    </div>
</div>
<div class="cysh-container-dark">
    <div class="cysh-flex-blocks-central">
        <div class="cysh-card-light cysh-active-rotate">
            <div class="cysh-paragraph-transparent">
                <h1>Test Header</h1>
                <p>Test paragraph with somw information. Test paragraph with somw information.Test paragraph with somw information.</p>
            </div>
        </div>
        <div class="cysh-card-light cysh-active-rotate">
            <div class="cysh-paragraph-contrast">
                <h1>Test Header</h1>
                <p>Test paragraph with somw information. Test paragraph with somw information.Test paragraph with somw information.</p>
            </div>
        </div>
        <div class="cysh-card-light">
            <div class="cysh-paragraph-error">
                <h1>Test Заголовок</h1>
                <p>Test paragraph with somw information. Test paragraph with somw information.Test paragraph with somw information.</p>
            </div>
        </div>
    </div>
</div>