@import "./app/styles/3d";
@import "./app/styles/yellowBraun";
@import url('https://fonts.googleapis.com/css?family=Alegreya');
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
h1,h2,h3,h4,h5,h6,div,a,p,span,label,input,button{
  font-family: "Alegreya", sans-serif;
  font-weight:100;
}
.block-relative {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
}
html {
  .block-relative;
  body {
    .block-relative;
    .transform-3d;
    #topnav {
      display: flex;
      position: absolute;
      top: 0;
      right: 0;
      max-width: 700px;
      height: 60px;
      align-content: right;
      background: @color_main_light;
      background: linear-gradient(@color_main_light 50%, transparent);
      z-index: 1000;
    };
    #dash-board {
      display: flex;
      position: absolute;
      bottom: 60px;
      right: 0;
      flex-direction: column;
    };
    .login-form {
      .form-block {
        span {
          padding: 0;
        };
        button {
          .element-dark-transparent;
          margin: 3px 0;
        };
        label {
          .element-dark-transparent;
          margin-bottom: 0;
          padding: 0;
          &:hover {
            background: transparent;
          }
        };
        input {
          margin-top: 0;
          padding: 0 3px;
          border: none;
          border-radius: 2px;
        };
        .select-btn {
          border: none;
        };
        .active {
          background: @color_main_transparent_super;
          border-top: 1px solid @color_main_superlight;
          border-bottom: 1px solid @color_main_superlight;
        }
      };
      .button-block {
        padding-top: 15px;
      };
    };
  }
}
@media screen and (max-width: 768px) {
}